:root{
    --boxes: 3;
    --font-color: #111;
    --grid-bgc-clr: white;
    --main-cnt-bgc-clr: white;
    --cell-font-size: 0;
    --border-width: 10px;
    --hover-color: #eee;
    --next-turn-symbol: "X";
    --radio-star-clr: crimson;

}

@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import "~doodle.css/doodle.css";
body {
    font-family: 'Short Stack', cursive;

    }

html,body{
    min-height: 100vh;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-content{
    height: 99vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--main-cnt-bgc-clr);
}
#gameBoard-container{

    width: min(90vw, 400px);
    height: min(90vw, 400px);
    margin: auto;
    
    display: grid;
}
#gameBoard{
    width: inherit;
    height: inherit;
    padding: 1rem;

    background-color: var(--grid-bgc-clr);

    display: grid;
    gap: 1px;
    grid-template-columns: repeat(var(--boxes), 1fr);
    grid-template-rows: repeat(var(--boxes), 1fr);
}
.gameCell{

    display: table-cell;
    font-size: var(--cell-font-size);
    user-select: none;
    line-height: 100%;
    vertical-align: middle ;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    text-align: center;
}
.border-bottom{
    border-bottom: var(--border-width) dotted var(--font-color);
}
.border-right{
    border-right: var(--border-width) groove  var(--font-color);
}
.border-top{
    border-top: var(--border-width) dotted  var(--font-color);
}
.border-left{
    border-left: var(--border-width) dashed  var(--font-color);
}
.gameCell:not(.border-top), .gameCell:not(.border-top)::before{
    padding-top: calc(var(--border-width) );
}
.gameCell:not(.border-right), .gameCell:not(.border-right)::before{
    padding-right: calc(var(--border-width) - 4px);
}
.gameCell:not(.border-left), .gameCell:not(.border-left)::before{
    padding-left: calc(var(--border-width) - 4px);
}
.gameCell:not(.border-bottom), .gameCell:not(.border-bottom){
    padding-bottom: calc(var(--border-width) - 4px);
}
.gameCell:hover:not(.filled){
    position: relative;
    cursor: pointer;
    background: var(--hover-color);
    
}
.gameCell:hover:not(.filled)::before{

    line-height: 100%;
    font-size: var(--cell-font-size);
    display: inline-block;
    text-align: center;
    content: var(--next-turn-symbol);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: gray;
}


/* utility */
.no_pointer_events{
    pointer-events: none;
}
.display_none{
    display: none;
}
.hidden{
    visibility: hidden;
}
.d-flex{
    display:flex;
}
/* player overlay */
#players-overlay{
    line-height: 100%;
    min-height: 1.5em;
    margin: 5vh 1vw;
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#players-overlay label{

    padding: 0 1rem;
    display: inline-flex;
    align-items: center;
}
#players-overlay label {
    pointer-events: none;
}
#players-overlay label input[type="radio"]:checked::after{
    color: var(--radio-star-clr);
}
.player_name{
    
    margin-left: 5px
}

footer{
    padding: 3vh;
    display: flex;
    justify-content: center;
}

#NewGame-button{
    font-size: 1.2rem;
    cursor: pointer;
}
#NewGame-button:hover{
    background-color: var(--hover-color);
}
#NewGame-button:active{
    background-color: var(--grid-bgc-clr);
}